.App {
    text-align: center;
}


.nav-link:hover {
    color: rgb(58, 59, 85) !important;
}

.nav-item:hover {
    background-color: whitesmoke;
    transition: all 0.5s;

}

.footer {
    background-color: rgba(255, 187, 0, 0.555);
    margin: 0px auto;
    padding-top: 10px;

    bottom: 0;
    width: 100%;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
}

@media only screen and (max-width: 600px) {

    .nav-item {
        border-top: 1px solid white;
        padding-top: 5px;
        min-height: 40px;
    }

}